@media (min-width: 767px) {

.page-template-home .quote-well {
 position: relative;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;*/
    text-align: center;
    min-width: 600px;
    padding:0px 100px;
		}

	.page-template-home .img-well img {
		width: 100%;
		min-height: 720px;
	  object-fit: cover;
	  height: 100%;
	}
	.quote-container .container-fluid, .page-template-home .col-sm-6 {
		padding-right: 0px;
	  padding-left: 0px
	}
	.is-table-row {
    display: table;
    width: 100%;
    margin-left:0px;
  	margin-right: 0px;
  }
  .is-table-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: center;
    padding:0px 0px;
  }
}

body {
	background-color: green;
}